- @title = @user

#grid

  != list("Recently posted", @posts_authored)
  != list("Recently liked",  @posts_liked)
  != list("Recently disliked", @posts_disliked)

  .list.just_added
    %h2 Profile information
    %ul
      %li
        %span.votes= @posts_authored.size
        Posts submitted
      %li
        %span.votes= @posts_liked.size + @posts_disliked.size
        Votes issued
      %li
        %span.votes= @user.votes_net
        Net positive votes
