- if session[:notice]
  = session.delete(:notice)

#grid

  != list(friendly_date(@date - 1), @yesterday)
  != list(friendly_date(@date),     @today)
  != list("Just added",             @just_added)

%a(href="/?date=#{@date - 1}" title="Previous" class="prev") &larr;
- if !today?
  %a(href="/?date=#{@date + 1}" title="Next" class="next") &rarr;

#footer
  %p
    This is a sample application created with
    != succeed "." do
      %a(href="http://monkrb.com") Monk

    - # It uses a key-value store,
    - # != succeed "," do
    - #   %a(href="http://code.google.com/p/redis") Redis
    - # to store things.
